<div class="container">
 <footer class="footer">
  <small>
    Copyright &copy; <a href="ensa.uit.ac.ma">Ecole National des
     Sciences Appliquees,Kenitra,Maroc.</a>
  </small>
  <nav>
   <ul>
    <li><%=link_to "Contact",contact_path%></li>
    <li><%=link_to "Aide",aide_path %></li>
   </ul>
  </nav>
 </footer>
</div>    